*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.gz
*.fdb_latexmk
*.synctex
*.synctex.gz
*.bbl
*.blg
*.xdv

*.ttf
*.otf

.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json
!.vscode/launch.json

*.pdf

!frontpages/verification.pdf

.DS_Store
*.swp
