.DS_Store
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!frontpages/verification.pdf
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.gz
*.log
*.lof
*.lot
*.out
*.otf
*.pdf
*.synctex
*.synctex.gz
*.swp
*.toc
*.ttf
*.xdv
