.DS_Store
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.gz
*.log
*.lof
*.lot
*.out
*.otf
*.pdf
!docs/format.pdf
!frontpages/verification.pdf
*.run.xml
*.synctex
*.synctex.gz
*.swp
*.toc
*.ttf
*.xdv
missfont.log
